<header>
  <h1 class="left"><img class="logo" src="assets/images/Atlassian-horizontal-blue-rgb.svg" alt="logo"></h1>
  <nav class="middle">
      <ul>
          <li><a href="#">Products</a></li>
          <li><a href="#">Solutions</a></li>
          <li><a href="#">Resources</a></li>
      </ul>
  </nav>
  <nav class="right">
      <ul>
        <li class="button"><a class="button" href="#" (click)="openLocalHTMLPage()">Try now</a></li>
        <li class="sign"><a href="#">Sign in</a></li>
      </ul>
  </nav>
</header>
<section id="spotlight">
  <section class="content">
      <div class="some">
        <div class="main">
          <h1>Impossible Alone.</h1>
          <p>See how collaboration makes the impossible, possible.</p>
          <span (click)="openYouTubeVideo()">Play Vide</span>
        </div>
        <div class="main-two">
          <div class="content">
            <div class="logo">
              <img src="assets/images/logo_high-velocity.svg" />
            </div>
            <div class="center">
              <h6>In person and on demand</h6>
              <p>Tickets going fast! Save your seat at our biggest service management event of the<br> year before they're sold out.</p>
            </div>
            <div class="button">
              <a class="button" href="#">Get your ticket</a>
              <img src="assets/images/sydney.png">
            </div> 
          </div>
        </div>

      </div>
      
  </section>
</section>